<div class="dash_container">
        
    <div class="container-fluid">
        <p-breadcrumb [model]="items" [home]="dash"></p-breadcrumb>
    </div>
            
    <!-- Cards para ver las tareas por asignar -->
    <div class="">
    
        <p-carousel [value]="listaTareasPendiente" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
            <ng-template pTemplate="header">
            </ng-template>
            <ng-template let-tarea pTemplate="item">
                <div class="product-item">
                    <div class="product-item-content border-card ">

                        
                        <div>
                            <h1 >Ticket N° {{tarea.codigo}}</h1>
                            <h3 class="mb-1">Id: {{tarea.ticket_no}}</h3>
                            <h3 class="mb-1">{{tarea.titulo_tarea}}</h3>
                            <h3 class="mb-1">Cliente: {{tarea.nombre_cliente ?? ''}} {{tarea.apellido_cliente ?? ''}}</h3>
                            <h4 class="mt-0 mb-3">{{tarea.prioridad}}</h4>
                            <h4 class="mt-0 mb-3">{{tarea.estado}}</h4>
                            <h4 *ngIf="tarea.fechaentrega">{{ formatTimestamp(tarea.fechaentrega) }}</h4>
                            <div class="car-buttons mt-5">
                                <p-button  label="Mostrar" (click)="abrirModalDetalleTarea(tarea)" icon="pi pi-check"></p-button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>

    </div>
        

    <app-ticket-table-supervisor (informacionEnviada)="recibirInformacion($event)"></app-ticket-table-supervisor>

</div>

<!-- Ver detalles con vtareas -->

<p-dialog (onHide)="cerrarModalDetalleTarea()" [(visible)]="mostrarModalAsignacion" [modal]="true"
    [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '40vw'}">
    <h2>Ticket {{tareaDialog.ticket_no}}</h2>

    <ng-template pTemplate="header">
    </ng-template>
    <ng-template pTemplate="content">
        <table class="info-table">
            <tr>
                <th>N°: </th>
                <td>{{tareaDialog.codigo}}</td>
            </tr>
            <tr>
                <th>Fecha de creación:</th>
                <td>{{formatTimestamp(tareaDialog.fecha_asignacion)}}</td>
            </tr>
            <tr>
                <th>Título:</th>
                <td>{{tareaDialog.titulo_tarea}}</td>
            </tr>
            <tr>
                <th>Agencia:</th>
                <td>{{tareaDialog.sucursal}}</td>
            </tr>
            <tr>
                <th>Cliente:</th>
                <td>{{ tareaDialog.nombre_cliente ?? '' }} {{ tareaDialog.apellido_cliente ?? '' }}</td>

            </tr>
            <tr>
                <th>Tipo de reclamo:</th>
                <td>{{tareaDialog.tipo_reclamo}}</td>
            </tr>
            <tr>
                <th>Tipo Comentario:</th>
                <td>{{tareaDialog.tipo_comentario}}</td>
            </tr>
            <tr>
                <th>Estado:</th>
                <td>{{tareaDialog.estado}}</td>
            </tr>
            <tr>
                <th>Prioridad:</th>
                <td>{{tareaDialog.prioridad}}</td>
            </tr>
            <tr>
                <th>Usuario responsable:</th>
                <td>{{tareaDialog.nombres_tecnico ?tareaDialog.nombres_tecnico :'Sin definir'}}</td>
            </tr>
           
            <tr>
                <th>Fecha de entrega:</th>
                <td *ngIf="tareaDialog.fechaentrega">{{formatTimestamp(tareaDialog.fechaentrega)}}</td>
            </tr>
        </table>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" (click)="cerrarModalDetalleTarea()" label="Cerrar"
            class="p-button-rounded p-button-danger"></button>
    </ng-template>
</p-dialog>
