<nav>
  <img src="../assets/keta logo 2.svg" alt="Logo_jakay" height="55px">
  <div class="nav_btns">
    <i class="fa-solid fa-circle-user"></i>

    <a (click)="logout()">
      <i class="fa-solid fa-right-from-bracket">
      </i>
    </a>
  </div>
</nav>

<div class="sidebar_container">
  <div id="wrapper">

    <!-- Sidebar -->
    <div class="sidebar" [class.collapsed]="isSidebarCollapsed">
      <ul class=" navbar-nav">
        <button (click)="toggleSidebar()">Toggle Sidebar</button>
        <li class="nav-item active">
          <a class="nav-link" href="/home-ticket/dashboard/ticket-table">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home-ticket/list-tickets" href="/tickets">
            <i class="fas fa-fw fa-tasks"></i>
            <span>Todos los tickets</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home-ticket/ticket-form">
            <i class="fas fa-fw fa-plus-circle"></i>
            <span>Nuevo Ticket</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reports/">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Reportes</span>
          </a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="/home-ticket/register/register-sucursal">
            <i class="fas fa-fw fa-database"></i>
            <span>Registrar</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/home-ticket/list-users">
            <i class="fas fa-fw fa-database"></i>
            <span>Lista usuarios</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="content" [class.collapsed]="isSidebarCollapsed">
    <router-outlet></router-outlet>
  </div>
</div>