
  /* Global styles */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

  body {
      margin: 0;
      background-color: #f0f2f5;
      font-family: 'Poppins', Arial, sans-serif;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  ul,
  li {
      margin: 0;
      padding: 0;
      box-sizing: 0;
      font-family: 'Poppins', Arial, sans-serif;
      list-style: none;
  }

  h2 {
      text-align: center;
      margin-bottom: 20px;
  }

  .spinner-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
  }

  .flex {
      display: flex;
      justify-content: space-between;
  }

  .flex-row {
      display: flex;
      gap: 1rem;
      align-items: center;
  }

  :host ::ng-deep .p-speeddial-button.p-button.p-button-icon-only {
      width: 3.5rem;
      height: 3.5rem;
  }

  :host ::ng-deep .p-datatable .p-datatable-thead>tr>th {
      z-index: 2000;
  }

  :host ::ng-deep {
      .speeddial-linear-demo {
          .p-speeddial-direction-up {
              left: calc(50% - 2rem);
              bottom: 0;
          }

          .p-speeddial-direction-down {
              left: calc(50% - 2rem);
              top: 0;
          }

          .p-speeddial-direction-left {
              right: calc(50% - 1.1rem);
              top: calc(50% - 1.1rem);
          }

          .p-speeddial-direction-right {
              left: 0;
              top: calc(50% - 2rem);
          }
      }
  }


  :host ::ng-deep .p-speeddial-action {
      width: 2.2rem;
      height: 2.2rem;
  }



  :host ::ng-deep .p-speeddial-button.p-button.p-button-icon-only .p-button-icon {
      font-size: 1.1rem;
  }

  :host ::ng-deep .p-speeddial-button.p-button.p-button-icon-only {
      width: 2.2rem;
      height: 2.2rem;
  }

  :host ::ng-deep .p-speeddial-button.p-button.p-button-icon-only {
      background-color: var(--cyan-600);
      border: 1px solid var(--cyan-600);
  }

  :host ::ng-deep .first-pb  .p-progressbar .p-progressbar-value {
    border: 0 none;
    margin: 0;
    background: #f79646;
  }
  :host ::ng-deep .purple .p-button {
    background: #4e1e4f;
    border: 1px solid #4e1e4f;
  }

.field{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
:host ::ng-deep .p-dialog .p-dialog-content {
    background: #ffffff;
    color: #495057;
    padding: 0 1.5rem 0.5rem 1.5rem;
}
.bg-light-primary {
 background-color: rgb(188, 248, 240);
 color: rgb(25, 138, 121);
 font-family: 'Poppins', Arial, sans-serif;
 font-size: 12px;
 text-transform: uppercase;
 padding: 0.2rem;

}

.bg-light-error {
    background-color: rgb(248, 197, 188);
    color: rgb(207, 78, 78);
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 12px;
 text-transform: uppercase;
 padding: 0.2rem;

}

:host ::ng-deep  .p-button {
    background: #4e1e4f;
    border: 1px solid #4e1e4f;
  }
  :host ::ng-deep  .p-button:hover {
    background: #682869;
    border: 1px solid #682869;
  }

  :host ::ng-deep .green .p-button {
    background: var(--cyan-600);
      border: var(--cyan-600);
      
  }

  :host ::ng-deep .blue  {
    background: transparent;
    border: 1px solid #3B82F6;
  }

  :host ::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background:  #f79646;
}
:host ::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:hover {
    background:  #f5882e;
}